
body {
	min-height: 100vh;  /* need this line to
					tell body to fill viewport */
	font-family: 'Montserrat', sans-serif;
	/* background-color: #EDEDED; */
	background-color: white;
	display: flex;
	flex-direction: column;
	color: blue;
}

header {
       text-align: left;
       padding: 30px;
			 white-space: nowrap;
			 background-color: white;
			 flex-direction; row;
			 justify-content: space-between;
}

#keep{
	background-color: #4A73FF;
	color:white;
}

h1 {
   font-size: x-large;
   font-weight: bold;

}

#sign {
     display: none;
		 font-size: 30px;
		 padding-left: 40px;
}

#left {
	display: block;
	visibility: hidden;
}

#Search {
	padding: 30px;
	margin-left: 70px;
	font-size: x-large;
}

#place_holder {
	display: flex;
	flex-direction: row;
	margin-left: 100px;
	white-space: normal;
}

#holder_name {
	display: flex;
	flex-direction: row;
	padding-left: 50px;
	padding-right: 50px;
}
#Author {
	width: 24%;
	padding-left: 50px;
	flex-direction: column;
	display: flex;
}
#Title {
	width: 24%;
	flex-direction: column;
	display: flex;
}
#ISBN {
	width: 24%;
	flex-direction: column;
	display: flex;
}

#button{
	justify-content: center;
	display: flex;
}

button{
	width: 80px;
	height: 37px;
	text-align: -moz-center;
	margin: 20px;
}

.arrow{
	font-size: 200%;
}

main {
     flex: 1 0 auto;  /* the sticky footer trick without the footer */
}

#right{
	margin-top: 130px;
}

#left{
	margin-top: 130px;
}

input {
	border-style: solid;
	border-radius: 5px;
	font-size: medium;
}


p {
	font-size: medium;
	margin: 10px;
	text-align: left;
	/* font-weight: bold; */
}

.OverlayClass {
	position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.7); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

#errorWrapOverlay {
	display: none;
}

#errors {
	display: flex;
	flex-direction: column;
	margin-top: 10%;
	color: white;
	font-weight: 400;
	align-items: center;
}

#msg1 {
	font-size: 30px;
}
#msg2 {
	font-size: 30px;
}
b {
	font-weight: 600;
}

#off {
	position: fixed;
	right: 10%;
	top: 30px;
}

div.div1 {
	display: flex;
	flex-direction: row;
	background-color: white;
	margin: 10px;
	width: 400px;
	height: 300px;
	/* align-items: center; */
}

#overTile {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.div2 {
	color: black;
	height: 90%;
	overflow: scroll;
}

.tile_title {
	font-weight: 600;
	font-size: larger;
}

.tile_author {
	font-weight: 400;
	font-size: larger;
}

.tile_description {
	font-weight: 400;
	font-size: small;
}

img {
		display: flex;
		height: 66%;
		width: 32%;
		flex-grow: 1;
		padding: 15px;
}

.or{
	text-align: center;
}

#tileWrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 10px;
}

#tileWrapOverlay {
	display: flex;
	padding: 30px;
	margin-top: 15%;
	flex-direction; row;
	justify-content: center;
}

#button2{
	background-color: #4A73FF;
	color:white;

}

@media (max-width: 600px) {


	#Search {
		padding: 30px;
		margin-left: 0px;
		font-size: x-large;
	}

	#place_holder {
		display: flex;
		flex-direction: column;
		margin-left: 30px;
		white-space: normal;
	}

	#Author {
		width: auto;
		padding-left: 0px;
		flex-direction: column;
		display: flex;
		padding-right: 20px;
		margin: 10px;
	}

	#Title {
		width: auto;
		padding-left: 0px;
		flex-direction: column;
		display: flex;
		padding-right: 20px;
		margin: 10px;
	}

	#ISBN {
		width: auto;
		padding-left: 0px;
		flex-direction: column;
		display: flex;
		padding-right: 20px;
		margin: 10px;
	}

	button {
		width: auto;
		margin: 10px;
	}




	#header {
		display: flex;
		justify-content: space-around;
		flex-direction: row;
		align-items: center;
		justify-content: center;
	}

	h1 {
		font-size: 40px;
		font-weight: bold;
	}

	#overTile {
		width:80%;
	}


}
