
body {
	min-height: 100vh;  /* need this line to
					tell body to fill viewport */
	font-family: 'Montserrat', sans-serif;
	/* background-color: #EDEDED; */
	background-color: white;
	display: flex;
	flex-direction: column;
	color: blue;
     }

header {
       text-align: left;
       padding: 30px;
}


h1 {
   font-size: x-large;
   font-weight: bold;

}

div.car {
     background-color: white;
     font-size: medium;
     text-align: center;
     border: 3px solid blue;
     height: auto;  /* just big enough to fit contents */
     flex: 0 1 15%;

}

#Search{
	padding: 30px;
	margin-left: 70px;
	font-size: x-large;
}

#place_holder{
	display: flex;
	flex-direction: row;
	margin-left: 100px;
	white-space: normal;
}

#holder_name{
	display: flex;
	flex-direction: row;
	padding-left: 50px;
	padding-right: 50px;
}
#Author{
	width: 24%;
	padding-left: 50px;
	flex-direction: column;
	display: flex;
}
#Title{
	width: 24%;
	flex-direction: column;
	display: flex;
}
#ISBN{
	width: 24%;
	flex-direction: column;
	display: flex;
}

#button{
	justify-content: center;
	display: flex;
}

button{
	width: 100px;
	margin: 50px;
}

main {
     flex: 1 0 auto;  /* the sticky footer trick without the footer */
}


input {
	border-style: solid;
	border-radius: 5px;
	font-size: medium;
}


p {
	font-size: medium;
	margin: 10px;
}

@media (max-width: 600px){

header{
	text-align: center;
}

#Search{
	padding: 30px;
	margin-left: 0px;
	font-size: x-large;
}

#place_holder{
	display: flex;
	flex-direction: column;
	margin-left: 30px;
	white-space: normal;
}

#Author{
	width: auto;
	padding-left: 0px;
	flex-direction: column;
	display: flex;
	padding-right: 20px;
	margin: 10px;
}

#Title{
	width: auto;
	padding-left: 0px;
	flex-direction: column;
	display: flex;
	padding-right: 20px;
	margin: 10px;
}

#ISBN{
	width: auto;
	padding-left: 0px;
	flex-direction: column;
	display: flex;
	padding-right: 20px;
	margin: 10px;
}

button{
	width: auto;
	margin: 10px;
}

}
